<nz-collapse>
    <nz-collapse-panel [nzHeader]="'Redis info'">
      <button nz-button nzType="primary" nzShape="circle" class="add-new-btn"
      (click)="showModal()">+</button>
      <nz-descriptions *ngFor="let v of pconfiglist;let i = index;" nzTitle={{i+1}} nzBordered="true">
        <nz-descriptions-item nzTitle="ID">{{v.id}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="URL">{{v.url}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="port">{{v.port}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="username">{{v.username}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="password">{{v.password}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="tablename">{{v.tablename}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="删除"><button (click)="deleteconfig(i)">删除</button></nz-descriptions-item>
        <nz-descriptions-item nzTitle="修改"><button>修改</button></nz-descriptions-item>
    </nz-descriptions>
    </nz-collapse-panel>
  </nz-collapse>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
<ng-container *nzModalContent>
<nz-card [nzBordered]="false" [nzTitle]="' Redis source '" [nzLoading]="false">    
    <form nz-form class="login-form">
        <nz-form-item>
            <nz-input-group>
                <input type="text" class="form-item" name="url" nz-input 
                    placeholder="url"  [(ngModel)]="newconfig.url"/>
            </nz-input-group>
        </nz-form-item>
        <nz-form-item>
            <nz-input-group>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Dest Port</nz-form-label>
                <nz-input-number class="form-item form-item-count" name="DestPort" [nzMin]="0" [nzMax]="55000" [nzStep]="1"
                   placeholder="Port" [(ngModel)]="newconfig.Port"></nz-input-number>
            </nz-input-group>
        </nz-form-item>

        <nz-form-item>
            <nz-input-group>
                <input type="text" class="form-item" name="username" nz-input 
                    placeholder="usernamel"  [(ngModel)]="newconfig.username"/>
            </nz-input-group>
        </nz-form-item>
        <nz-form-item>
            <nz-input-group>
                <input type="password" class="form-item" nz-input name="KafKa Topic"
                    placeholder="Topic"   [(ngModel)]="newconfig.password"/>
            </nz-input-group>
        </nz-form-item>
        <nz-form-item>
            <nz-input-group>
                <input type="text" class="form-item" name="tablename" nz-input 
                    placeholder="tablename"  [(ngModel)]="newconfig.tablename"/>
            </nz-input-group>
        </nz-form-item>

        <button nz-button nzType="dashed" class="login-form-button login-form-margin "
        (click)="createnewconfig()">
            <i nz-icon nzType="download"></i>SubMit A Job
            <br>
             Redis
        </button>

    </form>

</nz-card>
</ng-container>
</nz-modal>
