<p>this is source config</p>
<div class="content">
  <router-outlet></router-outlet>
</div>
<nz-collapse>
  <nz-collapse-panel [nzHeader]="'sql info'">
    <button nz-button nzType="primary" nzShape="circle" class="add-new-btn">+</button>
    <nz-descriptions nzTitle="Responsive Descriptions" nzBordered="true">
      <nz-descriptions-item nzTitle="DB Type">Mysql</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Url">localhost:3306</nz-descriptions-item>
      <nz-descriptions-item nzTitle="User Name">root</nz-descriptions-item>
      <nz-descriptions-item nzTitle="User Password">qwerasdf</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Data Base">test</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Table Name">Student</nz-descriptions-item>
    </nz-descriptions>
  </nz-collapse-panel>
</nz-collapse>

<nz-collapse>
  <nz-collapse-panel [nzHeader]="'Kafka info'">
    <button nz-button nzType="primary" nzShape="circle" class="add-new-btn">+</button>
    <nz-descriptions nzTitle="Responsive Descriptions" nzBordered="true">
      <nz-descriptions-item nzTitle="kafka URL">192.168.0.102</nz-descriptions-item>
      <nz-descriptions-item nzTitle="kafka Port">7777</nz-descriptions-item>
      <nz-descriptions-item nzTitle="kafka Topic">root</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Hdfssavepoint URL">192.168.0.102://///</nz-descriptions-item>
    </nz-descriptions>
  </nz-collapse-panel>
</nz-collapse>

<nz-collapse>
  <nz-collapse-panel [nzHeader]="'Redis info'">
    <button nz-button nzType="primary" nzShape="circle" class="add-new-btn">+</button>
    <nz-descriptions nzTitle="Responsive Descriptions" nzBordered="true">
      <nz-descriptions-item nzTitle="Redis URL">192.168.0.102</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Redis Port">7777</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Redis key field">test</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Hdfs savepoint URL">192.168.0.102://///</nz-descriptions-item>
    </nz-descriptions>
  </nz-collapse-panel>
</nz-collapse>

<nz-collapse>
  <nz-collapse-panel [nzHeader]="'Port/Socket'">
    <button nz-button nzType="primary" nzShape="circle" class="add-new-btn">+</button>
    <nz-descriptions nzTitle="Responsive Descriptions" nzBordered="true">
      <nz-descriptions-item nzTitle="URL">192.168.0.102</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Port">7777</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Hdfs savepoint URL">192.168.0.102://///</nz-descriptions-item>
    </nz-descriptions>
  </nz-collapse-panel>
</nz-collapse>


<nz-collapse>
  <nz-collapse-panel [nzHeader]="'HDFS'">
    <button nz-button nzType="primary" nzShape="circle" class="add-new-btn">+</button>
    <nz-descriptions nzTitle="Responsive Descriptions" nzBordered="true">
      <nz-descriptions-item nzTitle="URL">192.168.0.102</nz-descriptions-item>
      <nz-descriptions-item nzTitle="File Type">CSV</nz-descriptions-item>
    </nz-descriptions>
  </nz-collapse-panel>
</nz-collapse>



<div nz-row>
  <div nz-col nzSpan="12">
    <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
      Button
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu4="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item  (click)="setsourcType(sourcetype.JDBC)">JDBC</li>
        <li nz-menu-item (click)="setsourcType(sourcetype.REDIS)">REDIS</li>
        <li nz-menu-item (click)="setsourcType(sourcetype.HDFS)">HDFS</li>
        <li nz-menu-item (click)="setsourcType(sourcetype.KAFKA)">KAFKA</li>
      </ul>
    </nz-dropdown-menu>

    <div [ngSwitch]="sourcdatatype.type">
      <div *ngSwitchCase="sourcetype.JDBC">
        <flink-jdbc></flink-jdbc>
      </div>
      <div *ngSwitchCase="sourcetype.REDIS">
        <flink-redis></flink-redis>
      </div>
      <div *ngSwitchCase="sourcetype.HDFS">
        <flink-hdfs></flink-hdfs>
      </div>
      <div *ngSwitchCase="sourcetype.KAFKA">
        <flink-kafka></flink-kafka>
      </div>
    </div>
    </div>




  <div nz-col nzSpan="12">

    <button nz-button nz-dropdown [nzDropdownMenu]="menu5">
      Button
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu5="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item  (click)="setdstType(sourcetype.JDBC)">JDBC</li>
        <li nz-menu-item (click)="setdstType(sourcetype.REDIS)">REDIS</li>
        <li nz-menu-item (click)="setdstType(sourcetype.HDFS)">HDFS</li>
        <li nz-menu-item (click)="setdstType(sourcetype.KAFKA)">KAFKA</li>
      </ul>
    </nz-dropdown-menu>
    

    <div [ngSwitch]="destdatatype.type">
      <div *ngSwitchCase="sourcetype.JDBC">
        <flink-jdbc></flink-jdbc>
      </div>
      <div *ngSwitchCase="sourcetype.REDIS">
        <flink-redis></flink-redis>
      </div>
      <div *ngSwitchCase="sourcetype.HDFS">
        <flink-hdfs></flink-hdfs>
      </div>
      <div *ngSwitchCase="sourcetype.KAFKA">
        <flink-kafka></flink-kafka>
      </div>
    </div>

  </div>

</div>
