<form nz-form class="login-form">
        


        
    <nz-form-item>
        <nz-input-group>
            <input type="text" class="form-item" name="destIP" nz-input 
                placeholder="destIP" />
        </nz-input-group>
    </nz-form-item>

    <nz-form-item>
        <nz-input-group>
            <input type="password" class="form-item" nz-input name="Hdfs url"
                placeholder="Topic" />
        </nz-input-group>

    </nz-form-item>


    <button nz-button nzType="dashed" class="login-form-button login-form-margin ">
        <i nz-icon nzType="download"></i>SubMit A Job
        <br>
         kafka
    </button>

</form>
