<button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="login()">Log in</button>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
  <nz-card [nzBordered]="false" [nzTitle]="' User Login '" [nzLoading]="false">    
      <form nz-form class="login-form">
          <nz-form-item>
              <nz-input-group>
                  <input type="text" class="form-item" name="url" nz-input 
                      placeholder="User name "   [(ngModel)]="currentuser.name"/>
              </nz-input-group>
          </nz-form-item>
          
  
  
          <nz-form-item>
              <nz-input-group>
                  <input type="password" class="form-item" nz-input name="KafKa Topic"
                      placeholder="User password" [(ngModel)]="currentuser.pwd"/>
              </nz-input-group> 
          </nz-form-item>
      </form>  
  </nz-card>
  </ng-container>
  </nz-modal>