<p>jsplumb works!</p>
<div id="app">
  <div class="container-fluid">
    <div nz-row class="row">



      <div nz-col nzSpan="6" id="side-buttons" class="  min-height">
        <div>
          <h5>节点类型列表</h5>
          <a class="btn btn-success btn-controler" href="#" data-template="yuan-source" role="button">
            <i class="fa fa-navicon" aria-hidden="true"></i>
            源数据</a><br>
          <a class="btn btn-success btn-controler" href="#" data-template="target-source" role="button">
            <i class="fa fa-navicon" aria-hidden="true"></i>
            目的数据</a><br>
          <a class="btn btn-success btn-controler" href="#" data-template="op-source1" role="button">
            <i class="fa fa-navicon" aria-hidden="true"></i>
            機算子</a><br>
          <a class="btn btn-success btn-controler" href="#" data-template="op-source2" role="button">
            <i class="fa fa-navicon" aria-hidden="true"></i>
            散算子</a><br>
          <a class="btn btn-success btn-controler" href="#" data-template="op-source3" role="button">
            <i class="fa fa-navicon" aria-hidden="true"></i>
            合算子</a><br>
          <a class="btn btn-success btn-controler" href="#" data-template="op-source4" role="button">
            <i class="fa fa-navicon" aria-hidden="true"></i>
            滅算子</a><br>
          <a class="btn btn-success btn-controler" href="#" data-template="op-source5" role="button">
            <i class="fa fa-navicon" aria-hidden="true"></i>
            時算子</a>

          <textarea style="margin-top:20px; margin-left: 10px; margin-right: 30px;" rows="14" nz-input [(ngModel)]="jsonstr"></textarea>
          <button nz-button nzType="dashed" class="login-form-button login-form-margin" (click)="submitJson()">
            <i nz-icon nzType="download"></i>SubMit A Job
            <br>
          </button>

          <button nz-button nzType="dashed" class="login-form-button login-form-margin" (click)="check()">
            <i nz-icon nzType="download"></i>多少个组件？yigon!
            <br>
          </button>
        </div>

      </div>
      <div nz-col nzSpan="18" class=" bg-success min-height" id="drop-bg">
        <flink-dragbody *ngFor="let item of alldragbody" [data]="item"></flink-dragbody>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class='pa' id='{{id}}' style='top:{{top}}px;left:{{left}}px'>
  <div class='panel panel-default panel-node panel-info'>
    <div id='{{id}}-heading' data-id='{{id}}' class='panel-heading'><i class='fa fa-calendar-times-o'
        aria-hidden='true'></i> {{name}}<span class='delete-node pull-right' data-type='deleteNode'
        data-id='{{id}}'>X</span></div>
    <ul class='list-group'>
      <li id='{{id}}-onWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>中间算子</li>
      <li id='{{id}}-offWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>算子类型：聚合</li>
    </ul>
  </div>
</div> 

<div class='pa' id='{{id}}' style='top:{{top}}px;left:{{left}}px'>
  <div class='panel panel-default panel-node panel-info'>
    <div id='{{id}}-heading' data-id='{{id}}' class='panel-heading'><i class='fa fa-calendar-times-o'
        aria-hidden='true'></i> {{name}}<span class='delete-node pull-right' data-type='deleteNode'
        data-id='{{id}}'>X</span></div>
    <ul class='list-group'>
      <li id='{{id}}-onWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>中间算子</li>
      <li id='{{id}}-offWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>算子类型：数据清洗、筛选</li>
    </ul>
  </div>
</div>


<div class='pa' id='{{id}}' style='top:{{top}}px;left:{{left}}px'>
  <div class='panel panel-default panel-node panel-info'>
    <div id='{{id}}-heading' data-id='{{id}}' class='panel-heading'><i class='fa fa-calendar-times-o'
        aria-hidden='true'></i> {{name}}<span class='delete-node pull-right' data-type='deleteNode'
        data-id='{{id}}'>X</span></div>
    <ul class='list-group'>
      <li id='{{id}}-onWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>中间算子</li>
      <li id='{{id}}-offWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>算子类型：数据流分流</li>
    </ul>
  </div>
</div>




<div class='pa' id='{{id}}' style='top:{{top}}px;left:{{left}}px'>
  <div class='panel panel-default panel-node panel-info'>
    <div id='{{id}}-heading' data-id='{{id}}' class='panel-heading'><i class='fa fa-calendar-times-o'
        aria-hidden='true'></i> {{name}}<span class='delete-node pull-right' data-type='deleteNode'
        data-id='{{id}}'>X</span></div>
    <ul class='list-group'>
      <li id='{{id}}-onWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>中间算子</li>
      <li id='{{id}}-offWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>算子类型：数据流分流</li>
    </ul>
  </div>
</div>


<div class='pa' id='{{id}}' style='top:{{top}}px;left:{{left}}px'>
  <div class='panel panel-default panel-node panel-info'>
    <div id='{{id}}-heading' data-id='{{id}}' class='panel-heading'><i class='fa fa-calendar-times-o'
        aria-hidden='true'></i> {{name}}<span class='delete-node pull-right' data-type='deleteNode'
        data-id='{{id}}'>X</span></div>
    <ul class='list-group'>
      <li id='{{id}}-onWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>中间算子</li>
      <li id='{{id}}-offWorkTime' data-pid='{{id}}' class='list-group-item panel-node-list'>算子类型：数据流合流</li>
    </ul>
  </div>
</div>




-->