<p>jsplumb works!</p>
<div id="app">
  <div class="container-fluid">
    <div nz-row class="row">



      <div nz-col nzSpan="6" id="side-buttons" class="  min-height">
        <div>
          <h3>节点类型列表</h3>
          <nz-collapse>
            <nz-collapse-panel nzHeader="源数据源">
              <a class="btn btn-success btn-controler" data-template="Redis" data-opcode="source" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                源数据reids</a><br>
              <a class="btn btn-success btn-controler" data-template="Jdbc" data-opcode="source" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                源数据Jdbc</a><br>
              <a class="btn btn-success btn-controler" data-template="Hdfs" data-opcode="source" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                源数据Hdfs</a><br>
              <a class="btn btn-success btn-controler" data-template="Socket" data-opcode="source" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                源数据Socket</a><br>
              <a class="btn btn-success btn-controler" data-template="Kafka" data-opcode="source" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                源数据Kafka</a><br>
            </nz-collapse-panel>
            <nz-collapse-panel nzHeader="目的数据源">
              <a class="btn btn-success btn-controler" data-template="Redis" data-opcode="target" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                目的数据reids</a><br>
              <a class="btn btn-success btn-controler" data-template="Jdbc" data-opcode="target" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                目的数据Jdbc</a><br>
              <a class="btn btn-success btn-controler" data-template="Hdfs" data-opcode="target" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                目的数据Hdfs</a><br>
              <a class="btn btn-success btn-controler" data-template="Socket" data-opcode="target" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                目的数据Socket</a><br>
              <a class="btn btn-success btn-controler" data-template="Kafka" data-opcode="target" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                目的数据Kafka</a><br>
            </nz-collapse-panel>
            <nz-collapse-panel nzHeader="中间算子">
              <a class="btn btn-success btn-controler" data-template="operation" data-opcode="機算子" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                機算子</a><br>
              <a class="btn btn-success btn-controler" data-template="operation" data-opcode="散算子" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                散算子</a><br>
              <a class="btn btn-success btn-controler" data-template="operation" data-opcode="合算子" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                合算子</a><br>
              <a class="btn btn-success btn-controler" data-template="operation" data-opcode="滅算子" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                滅算子</a><br>
              <a class="btn btn-success btn-controler" data-template="operation" data-opcode="時算子" role="button">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                時算子</a>
                <a class="btn btn-success btn-controler" data-template="operation" data-opcode="自定义算子" role="button">
                  <i class="fa fa-navicon" aria-hidden="true"></i>
                  自定义算子</a>
            </nz-collapse-panel>
          </nz-collapse>

          <textarea style="margin-top:20px; margin-left: 10px; margin-right: 30px;" rows="14" nz-input
            [(ngModel)]="jsonstr"></textarea>
          <button nz-button nzType="dashed" class="login-form-button login-form-margin" (click)="submitJson()">
            <i nz-icon nzType="download"></i>SubMit A Job----
            <br>
          </button>
          <button nz-button nzType="dashed" class="login-form-button login-form-margin" (click)="check()">
            <i nz-icon nzType="download"></i>多少个组件
            <br>
          </button>
        </div>
      </div>
      <div nz-col nzSpan="18" class=" bg-success min-height" id="drop-bg" #dragbox>
        <flink-dragbody *ngFor="let item of dragbody_Redis;" [data]="item" [configlist]="Redislist"
          (close)="shutDownComp($event)">
        </flink-dragbody>
        <flink-dragbody *ngFor="let item of dragbody_Hdfs;" [data]="item" [configlist]="Hdfslist"
          (close)="shutDownComp($event)">
        </flink-dragbody>
        <flink-dragbody *ngFor="let item of dragbody_Kafka;" [data]="item" [configlist]="Kafkalist"
          (close)="shutDownComp($event)">
        </flink-dragbody>
        <flink-dragbody *ngFor="let item of dragbody_Socket;" [data]="item" [configlist]="Socketlist"
          (close)="shutDownComp($event)">
        </flink-dragbody>
        <flink-dragbody *ngFor="let item of dragbody_Jdbc;" [data]="item" [configlist]="Jdbclist"
          (close)="shutDownComp($event)">
        </flink-dragbody>

        <flink-dragoperation *ngFor="let item of dragbody_operation;" [data]="item"  
        (close)="shutDownComp($event)">

        </flink-dragoperation>
      </div>
    </div>
  </div>
</div>