<div class='pa' id={{data.id}} [ngStyle]="{'top.px': data.top ,'left.px':data.left}">
    <div class='panel panel-default panel-node panel-info'>
    <div [id]="data.id+'head'" class='panel-heading'>
    <i class='fa fa-calendar-times-o' aria-hidden='true'></i> 
    {{data.name}}
    <span class='delete-node pull-right' data-type='deleteNode' data-id='{{data.id}}'
    (click)="shutdown()">
      X</span>
    </div>
   
        <ul class='list-group'>
      <!-- <li  class='list-group-item panel-node-list'>
        源数据源
      </li> -->
      <li class='list-group-item panel-node-list'>
     算子类型 {{data.opcode}}
      </li>
      <li class='list-group-item panel-node-list'>
        算子key 
        <input nz-input placeholder="Basic usage" [(ngModel)]="localdata.key" />
    </li>

    </ul>
  
    </div>
</div>
    